absl-py==0.9.0
appdirs==1.4.3
astor==0.8.1
astroid==2.3.3
attrs==19.3.0
backcall==0.1.0
beautifulsoup4==4.8.2
bleach==3.1.3
certifi==2018.11.29
chardet==3.0.4
click==7.1.1
colorama==0.4.3
cycler==0.10.0
decorator==4.4.2
defusedxml==0.6.0
distlib==0.3.0
docopt==0.6.2
entrypoints==0.3
filelock==3.0.12
Flask==1.1.1
Flask-Cors==3.0.8
gast==0.3.3
google-pasta==0.1.8
graphics==1.0
grpcio==1.27.2
h5py==2.10.0
idna==2.8
importlib-metadata==1.5.0
inflection==0.3.1
ipython==7.13.0
ipython-genutils==0.2.0
isort==4.3.21
itsdangerous==1.1.0
jedi==0.16.0
Jinja2==2.11.1
Js2Py==0.68
jsonify==0.5
jsonschema==3.2.0
jupyter-core==4.6.3
Keras==2.3.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
kiwisolver==1.1.0
lazy-object-proxy==1.4.3
Markdown==3.2.1
MarkupSafe==1.1.1
matplotlib==3.2.0
mccabe==0.6.1
mistune==0.8.4
mnist==0.2.2
more-itertools==4.3.0
nbconvert==5.6.1
nbformat==5.0.4
numpy==1.18.2
opencv-contrib-python==4.2.0.32
opencv-python==4.2.0.32
packaging==20.3
pandas==0.23.4
pandocfilters==1.4.2
parso==0.6.2
pickleshare==0.7.5
Pillow==7.0.0
pipwin==0.4.7
playsound==1.2.2
prompt-toolkit==3.0.4
protobuf==3.11.3
Pygments==2.6.1
pyjsparser==2.7.1
pylint==2.4.4
pyparsing==2.4.6
PyPrind==2.11.2
pyrsistent==0.16.0
python-dateutil==2.7.5
pytz==2018.7
pywin32==227
PyYAML==5.3
Quandl==3.4.5
requests==2.21.0
scikit-learn==0.20.2
scipy==1.2.0
seaborn==0.10.0
six==1.12.0
sklearn==0.0
soupsieve==2.0
tensorboard==1.14.0
tensorflow==1.15.2
tensorflow-estimator==1.14.0
termcolor==1.1.0
testpath==0.4.4
traitlets==4.3.3
typed-ast==1.4.1
tzlocal==2.0.0
urllib3==1.24.1
virtualenv==20.0.8
wcwidth==0.1.9
webencodings==0.5.1
Werkzeug==1.0.0
wrapt==1.11.2
zipp==3.1.0
